.navbar {
	display: flex;
	align-items: center;
	background: black;
	padding: 1em 2em;
}
.navbar-button {
	padding-right: 2em;
	min-width: 50px;
	font-weight: 700;
}
.navbar-button a {
	color: white;
	text-decoration: none;
}

.navbar-button a:hover {
	font-weight: 700;
}

.navbar-tab {
	padding: 1em 0;
}
button {
	padding: 1em 2em;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	background: #639fdb;
	font-weight: 600;
	color: #f9f9f9;
	width: 100%;
	margin-bottom: 2em;
}
button:disabled {
	background: gray;
	color: white;
	cursor: default;
}

button.green {
	background: green;
	color: white;
}

.container {
	padding: 2em;
}

@media only screen and (min-width: 768px) {
	.container {
		padding: 2em 10em;
	}
}
