.app {
	background-image: url('https://images.alphacoders.com/114/thumb-1920-11433.jpg');
	background-size: cover;
	background-position: center;
	transition: 0.5s ease-out;
	height: calc(100vh - 151px);
}

.app.clouds {
	background-image: url('https://st4.depositphotos.com/13349494/27036/i/600/depositphotos_270360026-stock-photo-view-white-grey-clouds-blue.jpg');
}
.app.rain {
	background-image: url('https://wallpaperaccess.com/full/777992.jpg');
}
.app.mist {
	background-image: url('https://mocah.org/uploads/posts/5382230-forest-tree-mountain-mist-nature-fog-cloud-black-and-white-misty-monochrome-cloudy-dark-forest-soft-beauty-natural-night-black-amp-white-free-images.jpg');
}
.app.clear {
	background-image: url('https://media.istockphoto.com/photos/clear-blue-sky-background-picture-id508544168?k=6&m=508544168&s=612x612&w=0&h=RyH8EQOHEQnn-WdJqjn3EpyW6a0ppCtW_iLHKSBXAlk=');
}
.search-box {
	width: 100%;
	margin: 0 0 75px;
}
.search-box .search-bar {
	display: block;
	width: 90%;
	padding: 15px;
	appearance: none;
	background: none;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0px 0px 16px 16px;
	margin: 0px auto 0px auto;
	box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
	color: #313131;
	font-size: 20px;
}
.search-box .search-bar:focus {
	background-color: rgba(255, 255, 255, 0.9);
}

.location-box .location {
	color: #fff;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
	text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
.location-box .date {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
.weather-box {
	text-align: center;
}

.weather-box .temp {
	position: relative;
	display: inline-block;
	margin: 20px auto;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	padding: 15px 25px;
	color: #fff;
	font-size: 50px;
	font-weight: 900;
	text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
	text-align: center;
	box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
	color: #fff;
	font-size: 48px;
	font-weight: 700;
	text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

@media only screen and (min-width: 768px) {
	.search-box .search-bar {
		width: 50%;
	}
}
